.main {
  min-height: 80vh;
}
i.fas.fa-star,
i.fas-fa-star-half-alt,
i.far.fa-star {
  color: #f8e825;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
h4 {
  padding: 0.5rem;
}
h3 {
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
